---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: "“Ridiculamente eficiente” é a descrição que me veio a mente quando terminei de ler “101 Perguntas Sobre Bitcoin” de Breno Brito. É o livro que eu gostaria de ter em mãos para presentear sempre que encontro alguém que se mostra de realmente interessado em conhecer esta tecnologia, mas não sabe por onde começar. Eu só adicionaria uma coisa para o leitor que comprar o livro em dinheiro fiat: comprar com bitcoin uma segunda cópia para presentear um ente querido."
    image: "{{ site.baseurl }}/uploads/edil.jpg"
    name: Edil Medeiros, Professor da UnB e contribuidor Bitcoin Core
  - message: "Como leiga, acho que a obra pode ajudar não somente os iniciados no tema, mas também desconfiados, receosos e conservadores quando se trata de dinheiro e investimento. Os que têm pouca ou quase nenhuma informação sobre esse assunto. É um guia de A a Z para tirar todas as dúvidas possíveis sobre o universo das criptomoedas. Da minha parte, posso garantir que já tive algum lucro: ganhei conhecimento."
    image: "{{ site.baseurl }}/uploads/marcia.jpg"
    name: Márcia Mandagará, jornalista
  - message: "Livro sensacional! Como o autor transita bem entre a TI, a Economia, e a legislação/regulação, sempre há algo a ser aprendido, mesmo para quem já trabalha com criptomoedas e blockchain há anos. E, por estar organizado como perguntas e respostas também em seu índice, é bem fácil achar um tópico específico, seja antes ou após sua leitura."
    image: "{{ site.baseurl }}/uploads/marcelo-gomes.jpg"
    name: Marcelo Gomes, membro benemérito do Laboratório de Políticas Públicas e Internet (Lapin)/UnB
  - message: "O mundo precisa desse livro! Cada uma das 101 Perguntas sobre Bitcoin deixa as pessoas mais perto do entendimento e da adoção em massa da moeda antifrágil, que veio ao mundo pra trazer de volta a liberdade na mão do povo, sem intermediários."
    image: "{{ site.baseurl }}/uploads/bruno.jpeg"
    name: Bruno Veloso, educador e criador do site bCripto
  - message: O que o Breno fez em “101 Perguntas sobre o Bitcoin” me lembrou a genialidade do Picasso em El Toro quando, em 11 desenhos, cada um mais básico que o outro, o artista usou da sua genialidade para chegar às partes mais fundamentais do todo, sem nunca desconstituí-lo.
    image: "{{ site.baseurl }}/uploads/kolling.jpeg"
    name: Diego Kolling, criador do NodeRunners Brasil
  - message: "Bitcoin é o futuro que chegou como um caminhão atropelando tudo. O livro 101 Perguntas Sobre Bitcoin é um amigo que tá dá a mão para não ser atropelado por esse caminhão, e ainda te coloca na cabine pra pegar uma carona em local privilegiado e aproveitar todas as vantagens de embarcar logo nessa viagem, que em breve será inevitável."
    image: "{{ site.baseurl }}/uploads/davi.jpeg"
    name: Davi Brito
_options:
  image:
    width: 60
    height: 60
author_staff_member: breno-brito
---

<div class="editable">
  <p><strong>101 Perguntas sobre Bitcoin</strong> é um guia estruturado em formato de perguntas e respostas, desenhado para levar leitores do zero a uma compreensão sólida sobre Bitcoin, permitindo-lhe navegar o tema com confiança. Com respostas objetivas e diretas, o livro facilita uma leitura rápida e acessível, abrangendo temas essenciais para desmistificar o universo do Bitcoin. </p>
    
	<p>O livro é ideal para iniciantes que buscam uma base sólida, mas também reserva curiosidades que mantêm a leitura interessante para quem já possui mais conhecimento sobre o tema. O livro almeja ser uma fonte de informação clara e concisa para esclarecer as principais dúvidas sobre o Bitcoin.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>

<h2>Conheça o autor</h2>
<!-- <h2>Meet the author</h2> -->
<div class="post-author staff">
	{% assign author_id = page.author_staff_member | prepend: "/staff_members/" | append: "/" %}
	{% assign author = site.staff_members | where: "url", author_id | first %}

	{% include staff-member.html member=author %}
</div>